.topbar {
    width:100%;
    height: 50px;
    background-color: #e1ffff;
    position:sticky;
    top: 0;
    z-index: 999;

}

.topbarWrapper{
    height: 100%;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight:bold;
    font-size: 40px;
    color:teal;
    cursor: pointer;

}

.topRight {
    display: flex;
    align-items: center;
}

.topbarIconContainer {
    position:relative;
    cursor: pointer;
    margin-right: 15px;
    color: teal;
}

.topIconBadge {
    width: 15px;
    height: 15px;
    position:absolute;
    top: -5px;
    right: 5px;
    background-color:red;
    color:white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.topAvatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

