.widgetLarge {
    flex: 2;
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    background-color: #f4ffff;
    color:teal;
    padding: 20px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 20px;
  }
  
  .widgetLargeTitle {
    font-size: 20px;
    font-weight: 600;
  }
  
  .widgetLargeTable{
    width: 100%;
    border-spacing: 20px;
  }
  
  .widgetLargeTh{
    text-align: left;
    font-size: 20px;
    font-weight:500;
  }

  .widgetLargeTr{
    font-size: 15px;
    font-weight: 300;
  }
  
  .widgetLargeUser{
    display: flex;
    align-items: center;

  }

  .widgetLargeButton {
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
.widgetLargeButton.Resolved{
    background-color: #ebf1fe;
    color: #2a7ade;
}

.widgetLargeButton.Open {
    background-color: #e5faf2;
    color: #3bb077;
  }

.widgetLargeButton.Pending { 
    background-color: #fff0f1;
    color: #d95087;
  }

.widgetLargeButton.Closed {
    background-color: #fff0f1;
    color: #d95087;
}



