.widgetSmall {
    flex: 1;
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    background-color: #f4ffff;
    padding: 20px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 20px;
}

.widgetSmallTitle {
    font-size: 20px; 
    font-weight:600;
    color: teal;
}

.smallWidgetUserProfile {
    font: 30px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.widgetSmallList {
    margin: 0; 
    padding: 0;
    list-style: none;
}

.widgetSmallListItems {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
}

.widgetSmallUsername {
    display: flex;
    flex-direction: column;
    color: teal;
    font-weight: 600;
}

.widgetSmallUserTitle {
    font-weight: 300;
    color: teal;
}

.widgetSmallButtons {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 10px 10px;
    background-color:#e1ffff;
    color:teal;
    box-shadow: none;
    cursor: pointer;
}


.widgetSmallIcons {
    font-size: 15px !important;
    margin-right: 5px;
    color:teal;
}

